* {
    box-sizing: border-box;
}

html,
body {
    --border-radius: 100px;
    --blue: #3F5CA2;
    --yellow: #E7D000;
    --darkwhite: #EEEAEA;
    --lightgrey: #B8C4CC;
    --mediumgrey: #A4ADB2; 
    --darkgrey: #3A4449;
    --coral: #d35353;
    --pink: #f79fee;
    --gutter: 3.125vw;

    margin: 0;
    padding: 0;
    background: #B8C4CC;
    color: #d35353;
    font-size: 20px;
    font-family: 'Syne', sans-serif;
}

h1 {
    font-size: 80px;
    margin: 0px;
}

h2 {
    font-size: 60px;
    margin: 0px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

/* navigation */

nav {
    position: fixed;
    width: 100%;
    height: 100px;
    top: 0;
    left: 0;
    font-size: 20px;
    z-index: 1;
}

nav ul {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

nav ul li {
    color: #222948; 
    list-style: none;
    margin-left: 45px;
}

nav ul li a {
    color: #ffffff;
    font-family: 'Space Mono', monospace;
}


/*OWN THINGS*/ 

section {
    width: 100%;
    height: 100vh;
    display: flex;
}

.text {
    background-color: rgb(227, 59, 16);
}

/* 

MAKE CLASSES FOR: 

-empty
-description
-title

e.g. for "About/Biography section": 

section.about .empty
section.about article 
section.about article .title
section.about article .description 

*/

/*
section.biography {
    color: var(--coral);
    background: var(--blue);
}

section.biography .text {
    background-color: rebeccapurple;
}
*/ 

/* INTRO */

section.intro {
    background: var(--darkwhite);
}

section.intro .empty2 {
    flex-basis: 37.5vw;
    background: var(--mediumgrey);
    border-radius: 100px;
}

section.intro article {
    flex: 1;
    display: flex;
    flex-direction: column;
}

section.intro article .title {
    flex: 2;
    display: flex;
    align-items: flex-end;
    background: var(--lightgrey);
    border-radius: 100px;
    padding: 6.27vw;
}

section.intro article .description {
    flex: 1;
    display: flex;
    align-items: center;
    background: var(--darkgrey);
    border-radius: 100px;
    padding: 6.27vw;
}



/* 
section.textileart {
    color: var(--blue);
    background: var(--pink); 
}

section.textileart .text {
    color: var(--blue);
    background: var(--pink);
}

section#textileart.test {
    background: rgb(9, 213, 43); 
    color: #001B94;
}

section#textileart.test .text {
    background-color: rebeccapurple;
}
*/ 



/* TEXTILEART */


/*
section.textileart .empty {
    flex-basis: 37.5vw;
    background: #9fc1f7;
    border-radius: 100px;
}

section.textileart figure {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 56.25vw;
    margin: 0; 
    background: var(--mediumgrey);
    border-radius: 100px;
}

section.textileart figure {
    width: 50%;
}

section.textileart article {
    flex: 1;
    display: flex;
    flex-direction: column;
}

section.textileart article .title {
    flex: 2;
    display: flex;
    align-items: flex-end;
    background: #001B94;
    border-radius: 100px;
    padding: 6.27vw;
}

section.textileart article .description {
    flex: 1;
    display: flex;
    align-items: center;
    background: yellowgreen;
    border-radius: 100px;
    padding: 6.27vw;
}
*/ 

section.textileart {
    background: var(--darkwhite);
}

section.textileart .empty {
    flex-basis: 37.5vw;
    background: var(--blue);
    border-radius: 100px;
}

section.textileart figure img {
    flex-basis: 37.5vw;
    border-radius: 100px;
    align-items: center;
    align-self: center;
}

section.textileart article img {
    flex-basis: 37.5vw;
    border-radius: 100px;
}

section.textileart article {
    flex: 1;
    display: flex;
    flex-direction: column;
}

section.textileart article .title {
    flex: 2;
    display: flex;
    align-items: flex-end;
    background: var(--lightgrey);
    border-radius: 100px;
    padding: 6.27vw;
}

section.textileart article .description {
    flex: 1;
    display: flex;
    align-items: center;
    background: var(--mediumgrey);
    border-radius: 100px;
    padding: 6.27vw;
}



/* EDUCATOR */ 

section.educator {
    background-color: var(--darkwhite);
}

section.educator .empty {
    flex-basis: 37.5vw;
    background: var(--lightgrey);
    border-radius: 100px;
}

section.educator figure img {
    display: flex 1;
    align-items: center;
    justify-content: center;
    flex-basis: 37.5vw;
    margin: 0;
}

section.educator article {
    display: flex;
    width: 100%;
}

section.educator article .title {
    flex: 2;
    display: flex;
    align-items: flex-end;
    background: #99a7e2;
    border-radius: 100px;
    padding: 6.27vw;
}

section.educator article .title figure img {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 56.25vw;
    margin: 0;
    background: var(--mediumgrey);
    border-radius: 100px;
}

section.educator article .description {
    flex: 1;
    display: flex;
    align-items: center;
    background: var(--lightgrey);
    border-radius: 100px;
    padding: 6.27vw;
}


/* BIOGRAPHY */

section.biography {
    background-color: var(--darkwhite);
}

section.biography .empty {
    flex-basis: 1;
    background: var(--lightgrey);
    border-radius: 100px;
}

section.biography figure {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 1;
    margin: 0;
    border-radius: 100px;
}

section.biography figure img {
    width: 50%;
}

section.biography article {
    /*flex: 1;*/
    display: flex;
    flex-direction: column;
}

section.biography article .title {
    flex-basis: 2;
    display: flex;
    align-items: flex-end;
    background: var(--darkgrey);
    border-radius: 100px;
}

section.biography article .description {
    flex-basis: 1;
    display: flex;
    align-items: center;
    background: var(--blue);
    border-radius: 100px;
}


/* CONTACT */ 


section.contact {
    background: linear-gradient(var(--lightgrey), var(--mediumgrey), var(--blue), var(--pink), var(--yellow));
    align-items: center;
    justify-content: center;
}

section.contact article {
    display: flex;
    color: #E7D000;
    flex-basis: 2;
    align-items: center;
    /*background-color: var(--darkwhite); */
    background: linear-gradient(#e66465, #9198e5);
    margin: 7%;
    padding: 30px;
    border-radius: 100px;
}

section.contact article a {
    font-size: large;
    color: var(--blue);
}